# Laravel / PHP
/vendor/
/bootstrap/cache/
/storage/*.key
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/

# Env & config lokal
.env
.env.*
.phpunit.result.cache

# Node / Frontend
/node_modules/
/public/hot
/public/storage
/public/build
/.vite
vite.config.local.*

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
