# Laravel / PHP
/vendor/
/bootstrap/cache/
/storage/*.key
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/

# Env & local config
.env
/public/storage
/storage/*.key
!.env.example
.phpunit.result.cache

# Node / Frontend
/node_modules/
/public/hot
/public/storage
/public/build
/.vite
vite.config.local.*

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
